<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SubAppLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SubAppLibraryResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UniversalSubAppLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>teststoryboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12154E3F1F6900BA004EEFE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12154E4D1F6905F9004EEFE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12154E541F690640004EEFE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12F434551F6957E900C1A258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
